* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

h1 {
	color: yellow !important;
}

h2 {
	color: blue;
}

#zuitt-motto {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

#offering-1 {
	color: #1f567a;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h3 + p {
	color: blue;
}

#p {
	color: red;
}

/*div + p {
	background-color: blue;
}

div ~ p {
	background-color: yellow;
}

div > p {
	background-color: yellow;
}*/

div p {
	background-color: yellow;
}